<div class="container">
    <div class="col-md-8 col-md-push-2 col-md-pull-2">
        <h2>À Propos</h2>

        <h3>Auteurs</h3>
        <p><em>Bertrand Sandrez</em> et <em>Arthur Violy</em></p>

        <h3>Remerciements</h3>

        <p><em>F93</em>, et surtout <em>Mathieu Marion</em>
            <br>
            <small>pour nous avoir soutenu et accompagné toute une année.</small></p>

        <p>Les 3e SEGPA du collège <em>Lenain de Tillemont</em> à Montreuil,
            <br>
            <small>et leur enseignant <em>Mickæl Durant</em>.</small>
        </p>

        <p><em>Fabien Acathla</em> et tous les amis du <em>Jack</em>,
            <br><small>Linuxiens hors pair, bidouilleurs de génie !</small></p>

        <p>L'équipe <em>des Instants chavirés</em>
            <br><small>pour leur accueil.</small></p>

        <p>Le département de <em>Seine-Saint-Denis</em>.</p>

        <h3>Scénographie</h3>

        <p>Élodie Descoubes</p>

        <h3>Menuiserie</h3>

        <p>AtoutBois Agencement</p>

        <h3>Crédits Photographiques</h3>

        <p><em>Pierre Antoine</em> <small>pour F93</small> — <em>Arthur Violy</em>, <em>Bertrand Sandrez</em></p>

        <h3>Site Web</h3>

        <p><small>Arthur Violy</small></p>

        <h3>Hébergement</h3>

        <p><small>Gandi SAS</small></p>

    </div>

</div></div>