<div class="container polypoto">
    <h1 class="polypoto-title">
        <img class="portrait" src="/img/polypoto/main-portrait.png" alt="Portrait photos" />
        <img class="logo" src="/img/polypoto/polypoto.svg" alt="Polypoto" />
        <span>POLYPOTO / POLYPTYQUE</span>
    </h1>

    <blockquote class="twitter-video" data-lang="fr"><p lang="fr" dir="ltr">si vous avez raté le vernissage, l’expérience <a href="https://twitter.com/hashtag/Polypoto?src=hash&amp;ref_src=twsrc%5Etfw">#Polypoto</a> continue cet après-midi entre 15h et 19h <a href="https://t.co/1dMScxVwOo">pic.twitter.com/1dMScxVwOo</a></p>&mdash; Polyptyque (@PolyptyquePhoto) <a href="https://twitter.com/PolyptyquePhoto/status/876034357407993856?ref_src=twsrc%5Etfw">17 juin 2017</a></blockquote>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    <h2>Venez découvrir et participer à l’expérience <strong>POLYPOTO</strong></h2>
    <p class="p-1">un projet expérimental imaginé et réalisé par les élèves de <em>troisième 1</em>
        <br />du collège Lenain de Tillemont de Montreuil,</p>

    <p class="p-2">le 16 juin 2017 de 16h à 20h
        <br>et le 17 juin 2017 de 15h à 19h,
    </p>
    <p class="p-2">
        aux Instants Chavirés,
        <br>2 Rue Émile Zola à Montreuil.</p>

    <p class="p-3">
        Ce projet s’appuie sur <strong>POLYPTYQUE</strong>, un dispositif
        <br>de capture et de restitution d’images réelles en 3D,
        <br>imaginé par <em>Arthur Violy</em> et <em>Bertrand Sandrez</em>.
    </p>
    <p class="p-4">
        Il s’inscrit dans le cadre d’un Projet d'Éducation aux Images (PEI),
        <br>initiée par la mission « Culture et art au collège » (MICACO).
    </p>

    <div class="container-fluid details">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <p>
                    <strong>POLYPOTO</strong> vise à travailler la notion de portrait
                    «multi-facettes» à l’heure où la figuration de soi
                    n’a jamais été aussi importante dans notre société.
                    Il s’appuie sur le dispositif <strong>POLYPTYQUE</strong>
                    permettant de créer des portraits 3D composés
                    d’images réelles.
                </p>
                <p>
                    Le scénario d’usage, imaginé par les élèves, vise à
                    créer de nouvelles «identités», à partir de
                    portraits 3D de deux utilisateurs aux profils
                    psychologiques proches.
                </p>
            </div>
            <div class="col-md-6 col-sm-6">
                <p>
                    À chaque nouvelle participation, de nouvelles
                    identités naissent et sont visibles instantanément
                    sur un smartphone ou une tablette, simplement en
                    bougeant l’appareil de gauche à droite ou de droite
                    à gauche, ce qui donne l’impression d’une
                    représentation en 3 dimensions, visible sans aucun
                    équipement particulier.
                </p>
            </div>
        </div>
    </div>
</div>
<footer>
    <nav>
        <ul>
            <li>
                <a href="http://notes.polyptyque.photo/" target="_blank">notes</a>
            </li>
            <li>
                <a href="https://twitter.com/PolyptyquePhoto" target="_blank">Twitter</a>
            </li>
            <li>
                <a href="http://f93.fr" target="_blank">F93</a>
            </li>
            <li>
                <a href="http://www.instantschavires.com/" target="_blank">Les instants chavirés</a>
            </li>
            <li>
                <a href="http://violy.net" target="_blank">Arthur Violy</a>
            </li>
            <li>
                <a href="http://bertrandsandrez.com" target="_blank">Bertrand Sandrez</a>        </ul>
        </li>
    </nav>
</footer>