<div class="container-fluid full-page">
    <div class="row header-img">
        <img class="full-size img1"
             data-src="/img/doc/f93-resti-cac20178327.jpg"
             data-srcset="/img/doc/f93-resti-cac20178327-480x240.jpg 480w,
                          /img/doc/f93-resti-cac20178327-700x467.jpg 700w,
                          /img/doc/f93-resti-cac20178327.jpg 1440w"
             sizes="100%"
             alt="Polyptyque — vue d’ensemble — Photographie Pierre Antoine">
    </div>
</div>
<div class="container">
    <div class="col-md-6 hidden-sm hidden-sm hidden-xs">
        <img data-src="/img/doc/IMG_5113-440x330.jpg" data-srcset="/img/doc/IMG_5113-440x330.jpg 440w, /img/doc/IMG_5113-880x660.jpg 880w" alt="F93 workshop collège" class="full-size img2">
    </div>
    <div class="col-md-6">
        <img data-src="/img/logo-polyptyque-typo.svg" alt="logo polyptyque" class="full-size logo-typo">
    </div>
</div>
<div class="container-fluid gutter-top">
    <div class="row">
        <img data-src="/img/doc/pano-cameras-1500x500.jpeg" data-src="/img/doc/pano-cameras-375x125.jpeg 375w, /img/doc/pano-cameras-700x233.jpeg 700w, /img/doc/pano-cameras-1500x500.jpeg 1500w" alt="panoramique intérieur avec 20 caméras" class="full-size lazyload">
    </div>
</div>
<div class="container">
    <div class="col-md-8 col-md-push-2 col-md-pull-2">
        <h2>Au croisement de la photographie<br>&amp; du design interactif</h2>
    </div>
    <div class="col-md-6">
        <p class="align-left">Le projet Polyptyque a été initié en 2011 par <em>Bertrand Sandrez</em> et <em>Arthur Violy</em>,
            au sein du
            <a href="https://emeri.ensadlab.fr/" target="_blank" rel="noopener" title="Écrans mobiles et récit interactif. Programme de recherche d'EnsadLab">Programme de recherche ÉMeRI / <em>EnsadLab</em></a>,
            spécialisé dans l’interactivité et les dispositifs mobiles,
            sous la direction de <a href="http://jlggb.net/jlb/" alt="Jean-Louis Boissier" target="_blank" rel="noopener">Jean-Louis Boissier</a>.
            <a href="https://www.ensadlab.fr/" target="_blank" rel="noopener">EnsadLab</a>
            étant le laboratoire de recherche de l’École nationale supérieure des Arts décoratifs.
        </p>
        <img data-src="/img/doc/cmio-2-dual-cam-440x587.jpg" data-srcset="cmio-2-dual-cam-320x427.jpg 320w, /img/doc/cmio-2-dual-cam-440x587.jpg 440w, /img/doc/cmio-2-dual-cam-880x1173.jpg 880w" alt="raspberry Pi Compute module & Pi Camera" class="full-size print-small">
    </div>
    <div class="col-md-4">
        <video class="full-size" autoplay="autoplay" loop="loop" muted="muted" src="/img/doc/demo-ipad.mp4" poster="/img/doc/demo-ipad.jpg">
            <img class="full-size" data-src="/img/doc/demo-ipad.gif" alt="Polyptyque — demo gif">
        </video>
    </div>
    <div class="col-md-6 gutter-top">
        <p class="align-left">
            Avant de rentrer dans des problématiques de prise de vue, le projet a d'abord été un objet interactif,
            car c'est sa condition de visualisation — via les capteurs gyroscopiques d'un <em>smartphone</em>
            ou d'une <em>tablette</em> — qui a été le point
            de départ de la réflexion. Ainsi, nous avons initialement collaboré avec des photographes spécialisés
            dans la photographie lenticulaire pour produire des images.
        </p>
        <p class="align-left">
            Quelques années dans nos cartons, le projet a été réactivé en 2016.
            C'est l’arrivée de nouvelles technologies — le <em>raspberry Pi</em> et sa <em>caméra</em>
            — ainsi que la conclusion
            d’un partenariat avec l’association F93
            qui a permis de financer nos expériences et prototypes.
        </p>
    </div>

    <div class="col-md-12 gutter-top">
        <img class="full-size" data-src="/img/doc/f93-resti-cac20178280.jpg" alt="Polyptyque — vue détail — Photographie Pierre Antoine">
    </div>
    <div class="col-md-12">
        <h2>de l’idée <br>au prototype, de la recherche <br>à l’exposition</h2>
    </div>
    <div class="col-md-6">
        <p class="align-left">C’est durant l’année scolaire 2016-2017, via le soutient de l’association
            <a href="http://f93.fr" target="_blank" rel="noopener"><em>F93</em></a>
            en associant notre recherche avec une classe de collège de Montreuil,
            que c’est concretisé un prototype.
            Cette expérience s’est conclue par une installation éphémère,
            <a href="/polypoto">Polypoto</a>, en juin 2017,
            aux <a href="http://www.instantschavires.com/" target="_blank" rel="noopener">Instants chavirés</a>, à Montreuil.</p>

        <p class="align-left">
            <img class="post-it col-md-6 col-sm-6 col-xs-6 row pull-left no-print" data-src="/img/doc/post-it.jpg" alt="esquisse">
            L'objectif de cette année a été double : à la fois produire le dispositif de prise de vue,
            à la fois partager notre recherche avec des collégiens.
        </p>
    </div>

    <div class="col-md-6">
        <img class="full-size img4" data-src="/img/doc/f93-workshop.jpg" alt="Workshop F93">
    </div>

    <div class="col-md-12 gutter-top"></div>

    <div class="col-md-6">
        <p class="align-left">
            Au cours de l’année, durant des ateliers au collège, nous avons posé
            la question du <em>portrait</em> — <em>photographique</em>, <em>psychologique</em> … —
            et fait formuler aux élèves un scénario d’usage pour notre prototype.
            Cette question du portrait résonnait avec l'actualité
            des usages et de sa production <em>sociale et technologique</em>
            par les adolescents (facebook, instagram, snapchat…)
        </p>
    </div>

    <div class="col-md-6">
        <p class="align-left">
            L'idée finale du dispositif élaborée fut que les personnes photographiées
            remplissent un portrait chinois, sous la forme d'un QCM,
            et que ce portrait — produit sous plusieurs angles (<em>à 180 degrés</em>)
            viennent se mélanger en direct, à celui de la personne qui
            aurait le plus de point commun.
        </p>
    </div>

    <div class="col-md-12 gutter-top">
        <video class="full-size" autoplay="autoplay" loop="loop" muted="muted" src="/img/doc/demo-ipad-2.mp4" poster="/img/doc/demo-ipad-2.jpg">
            <img class="full-size" data-src="/img/doc/demo-ipad-2.jpg" alt="Polyptyque — demo gif">
        </video>
    </div>

    <div class="col-md-12 gutter-top"></div>

    <div class="col-md-6">
        <p class="align-left">
            L'avancement c'est construit de manière ouverte et collaborative, en équipe.
            L’ensemble des logiciels et scripts produits pour l'occasion
            est distribué en open source sous <em>license libre</em> GPL-3.0 sur
            <a href="https://github.com/polyptyque" target="_blank" rel="noopener">GitHub</a>,
            tout comme la documentation du
            <a href="http://notes.polyptyque.photo" target="_blank" rel="noopener"><em>Work-in-progress</em></a>.
        </p>
    </div>

    <div class="col-md-6">
        <p class="align-left">Durant la phase de recherche et de&nbsp;développement,
            le soutien du HackerSpace
            <a href="http://jack.tf" title="Le Jack — HackerSpace"><em>le&nbsp;Jack</em> à Montreuil</a>
            a été décisif pour résoudre pour des problèmes matériels, systèmes et logiciels
            (merci <a href="http://acathla.tk/" target="_blank" rel="noopener" title="Acathla">Acathla</a>)✌.️
        </p>
    </div>


    <div class="col-md-12 gutter-top">
        <img class="full-size img4" data-src="/img/doc/f93-resti-cac20178277.jpg" alt="Polyptyque — vue détail — Photographie Pierre Antoine">
    </div>
</div>