<div class="container">
    <h1>{{title}}</h1>
    <p>{{description}}</p>
    <p>
        <ul>
            <li><a href="/demo">Démo originale (mélange Photoshop® manuel)</a></li>
            <li><a href="/demo-mix-A-B">Démo mix A B</a></li>
            <li><a href="/demo-mix-B-A">Démo mix B A</a></li>
        </ul>
        </p>
    <hr />
</div>