$n : 18;
$x : 100% / $n;
@keyframes preview {
  @for $i from 0 to $n {
    $current-frame: ($i * $x);
    #{$current-frame} {
      background-position: $current-frame 0;
    }
  }
}
.list-all{
  .list-item{
    picture{
      position: relative;
      width:100%;
      @include animation-name(preview);
      @include animation-duration(2s);
      @include animation-timing-function(steps($n));
      @include animation-iteration-count(infinite);
      @include animation-direction(reverse);
      @include animation-fill-mode(both);
      background-size: auto 100%;
      float:left;

      &:after{
        position: relative;
        content:' ';
        display: block;
        padding-top:percentage(1280/720);
      }
    }
  }
}