@keyframes preview {
  0% { background-position: 0% 0; }
  100% { background-position: -100% 0; }
}
.list-all{
  .list-item{
    picture{
      position: relative;
      width:100%;
      background-position: 0% 0;
      @include animation(preview 4s steps(18) infinite);
      @include animation-direction(alternate);
      @include animation-fill-mode(both);
      background-size: auto 100%;
      float:left;

      &:after{
        position: relative;
        content:' ';
        display: block;
        padding-top:percentage(1280/720);
      }
    }
  }
}